.venv/
db.sqilite3
TODO
core/.env
__pycache__/

# Tailwindcss
node_modules/
package-lock.json
package.json


# celery beat
celerybeat-schedule
celerybeat-schedule-wal
celerybeat-schedule.db
celerybeat.pid
celerybeat-schedule-shm

# Logs
logs/*
!logs/.gitkeep