.venv/
db.sqilite3
TODO
core/.env
__pycache__/

# Tailwindcss
node_modules/
package-lock.json
package.json


# celery beat
celerybeat-schedule
celerybeat-schedule.db
celerybeat.pid

# Logs
logs/*
!logs/.gitkeep